---
layout: default
title: Home
---

{% if page.url == "/" %}

<div class="container" style="margin-top:5%;margin-bottom:100px;">
    <div class="row">
        <div class="col-md-12 col-lg-8">
            <div class="row no-gutters single-card">
                <div class="col-md-4 col-lg-5 col-xl-5 text-center text-md-left">
                    <img alt="{{ site.name }}" src="{{ site.baseurl }}/{{ site.logo }}">
                </div>

                <div class="col-md-7 col-lg-7 col-xl-7 card-content text-center text-md-left">
                    <p> {{ site.description }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-4 text-center">

<!--                <p><b>Subscribe to get an email for every new blog we publish.</b></p>-->

        </div>
    </div>
</div>

<!-- Featured
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Featured</span></h2>
    </div>
    <div class="row">

        {% for post in site.posts %}

        {% if post.featured == true %}

        {% include featuredbox.html %}

        {% endif %}

        {% endfor %}

    </div>
</section>

{% endif %}

<!-- Posts Index
================================================== -->
<section class="recent-posts">

    <div class="section-title">

        <h2>
            <span aria-label="✍" role="image"
                  style="font-family:&quot;Apple Color Emoji&quot;,&quot;Segoe UI Emoji&quot;,NotoColorEmoji,&quot;Noto Color Emoji&quot;,&quot;Segoe UI Symbol&quot;,&quot;Android Emoji&quot;,EmojiSymbols">✍</span>
            All Posts
        </h2>

    </div>

    <div class="row listrecent">

        {% for post in paginator.posts %}

        {% include postbox.html %}

        {% endfor %}

    </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
    <div class="pointerup"><i class="fa fa-caret-up"></i></div>
    <span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

