

<!-- begin post -->
{% assign author = site.authors[post.author] %}

<div class="selectable collection_view-block" data-block-id="212f7fe7-5ac0-463d-ab5a-97804910521d"
     style="width: 1280px; max-width: 1280px; align-self: center; margin-top: 1px; margin-bottom: 1px;">
   <div class="list-view" style="padding-bottom: 7px; -left: 96px; padding-right: 96px;">
            <div class="selectable collection_view-block"
                 data-block-id="212f7fe7-5ac0-463d-ab5a-97804910521d"
                 style="display: flex; flex-direction: column;">
                <div>
                </div>
                <div class="selectable page-block collection-item"
                     data-block-id="36fe2526-016d-496c-9ecc-bb8251e83d88"
                     style="margin-top: 1px; margin-bottom: 1px;"><a
                        href="{{ post.url | absolute_url }}"
                        rel="noopener noreferrer"
                        style="display: flex; color: inherit; text-decoration: none; height: 30px; overflow: hidden; border-radius: 3px;">
                    <div class="" role="button" style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%; display: flex; align-items: center; padding-right: 4px;"
                         tabindex="0">
                        <div aria-disabled="false" class="record-icon notranslate" role="button" style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; display: flex; align-items: center; justify-content: center; height: 22px; width: 22px; border-radius: 3px; flex-shrink: 0; margin-left: 2px; margin-right: 6px;"
                             tabindex="0">
                            <svg class="page" style="width: 19.8px; height: 19.8px; display: block; fill: rgba(55, 53, 47, 0.8); flex-shrink: 0; backface-visibility: hidden;"
                                 viewBox="0 0 30 30">
                                <g>
                                    <path d="M16,1H4v28h22V11L16,1z M16,3.828L23.172,11H16V3.828z M24,27H6V3h8v10h10V27z M8,17h14v-2H8V17z M8,21h14v-2H8V21z M8,25h14v-2H8V25z"></path>
                                </g>
                            </svg>
                        </div>
                        <div style="display: flex; margin-right: auto; min-width: 240px;">
                            <div class="notranslate"
                                 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; border-bottom: 1px solid rgb(223, 223, 222); line-height: 1.3;">
                                <b>{{ post.title }}</b>
                            </div>
                        </div>
                        {% if post.rating %}
                        <p class="mb-2 mt-2 font-weight-normal">
                            {% include star_rating_postbox.html %}
                        </p>
                        {% endif %}
                        <div style="display: flex; align-items: center; font-size: 8px; margin-left: 14px; margin-right: 0px; min-width: 20px; height: 0px; flex-shrink: 0;">
                            {% for category in post.categories %}
                            <div style="display: flex; min-width: 0px; margin-right: -3px;">
                                <div style="display: flex; align-items: center; flex-shrink: 0; min-width: 0px; height: 18px; border-radius: 3px; padding-left: 8px; padding-right: 8px; font-size: 14px; line-height: 120%; background: rgba( {{ category | size | times:100}} , 10, {{ category | size | times:10}}, 0.2); margin: 0px 6px 0px 0px;">
                                    <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                        {{ category}}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </a></div>
            </div>
    </div>
</div>
<!-- end post -->